@import "~taro-ui/dist/style/components/list.scss";
.Multi-title{
    padding: 20px;
}
.baseWrap{
    padding-bottom: 100px;
}

.btnStep{
    margin-bottom: 20px;
}
.small {
   
    font: 10rpx;
    color: #757474;
    font-style: italic;
    padding-left: 20px;

}