@import '~taro-ui/dist/style/components/article.scss';
@import '../../static/style/common.scss';
$footer-height: 200px;
$exam-top-height: 170px;
$result-top-height: 100px;
$common-padding: 0 30px;
$exam-font-size: 28px;
$result-font-size: 26px;
$exam-desc-color: rgb(102, 102, 102);
$exam-desc-font-size: $sm-fontsize;

@mixin basewrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.exam-wrap {
  @include basewrap;
}
.result-con {
  background-color: $primary-color;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  .result-top {
    height: $result-top-height;
    line-height: $result-top-height;
    text-align: center;
    color: #fff;
    font-size: $result-font-size;
  }
  .result-mid {
    position: absolute;
    right: 0;
    left: 0;
    top: $result-top-height;
    bottom: $result-top-height;
    background-color: $bg-grey-color;
    // padding: $common-padding;
    padding-top: 40px;
    font-size: $exam-font-size;
    overflow-y: scroll;
  }
  .result-item {
    // padding-bottom: 30px;
    padding: 30px;
    margin-bottom: 10px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #ccc;
    .isRight{
   
      color:green;
    }
    .isWrong{
      color:red;
    }
    .result-item-top {
      padding-bottom: 10px;
      .answer-item {
        display: inline-block;
        width: 45%;
      }
    }
    .result-item-min {
      font-size: $mini-fontsize;
      color: $text-grey-color;
    }
  }
  .result-footer {
    position: absolute;
    bottom: 0;
    height: $result-top-height;
    line-height: $result-top-height;
    text-align: center;
    color: #fff;
    font-size: $result-font-size;
    width: 100%;
    .bottom-btn-con {
      width: 200px;
      padding-top: 15px;
      display: inline-block;
    }
  }
}

.exam-con {
  background-color: $primary-color;
  position: absolute;
  top: 0;
  bottom: $footer-height;
  left: 0;
  right: 0;
  .con-top {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: $exam-top-height;
    line-height: $exam-top-height;
    padding: $common-padding;
    color: #fff;
    .top-left {
      float: left;
    }
    .top-right {
      float: right;
    }
  }
  .con-mid {
    position: absolute;
    right: 0;
    left: 0;
    top: $exam-top-height;
    bottom: $exam-top-height;
    background-color: #fff;
    padding: $common-padding;
    padding-top: 40px;
    font-size: $exam-font-size;
    overflow-y: scroll;

    .mid-textArea {
      line-height: 1.7;
    }
    .mid-opt {
      padding: 20px 0;
      .mid-opt-con {
        padding-bottom: 40px;
        .choosedAnswer {
          color: $primary-color;
        }
      }
    }
    .mid-label {
      width: 50px;
      display: inline-block;
      text-align: center;
    }
    .mid-desc {
      display: inline;
      color: $exam-desc-color;
      font-size: $exam-desc-font-size;
    }
    .mid-answer {
      padding-bottom: 40px;
    }
  }
  .con-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: $exam-top-height;
    line-height: $exam-top-height;
    padding: $common-padding;
    text-align: center;
    .bottom-btn-con {
      width: 200px;
      display: inline-block;
    }
  }
}
.exam-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: $footer-height;
  background-color: #fff;
}
.exam-grid .at-grid__flex .content-inner__img {
  width: 60px;
  height: 60px;
}
.exam-grid .at-grid__flex .content-inner__text {
  font-size: 23px;
}
