@import '../../static/style/common';
@import '~taro-ui/dist/style/components/flex.scss';

.list-item {
  padding: 10px 0;
  .list-image-con {
    display: block;
    height: 160px;
    width: 160px;
  }
  .list-desc-con {
    padding-left: 20px;
    position: relative;
    .list-title {
      font-size: $normal-fontsize;
      margin-bottom: 16px;
      @include text2line(2);
    }
    .list-desc {
      position: absolute;
      bottom: 0;
      font-size: $mini-fontsize;
      color: $text-grey-color;
      @include text2line(2);
    }
 


  }
  .tags-item{
    display: inline-block;
    margin-right: 10px;
  }
}
