@import '~taro-ui/dist/style/components/flex.scss';
@import '~taro-ui/dist/style/components/tag.scss';

@import '../../static/style/common';

@mixin base-con {
  background-color: #fff;
  margin-bottom: 10px;
}

.industryNews-wrap {
  background-color: $bg-grey-color;
  padding-bottom: 200px;
}

.news-wrap {
  @include con;
  @include base-con;
}

.banner-wrap {
  @include con;
  @include base-con;
  padding: 25px 0;
  .banner-con {
    height: 400px;
    .swiper-con {
      height: 100%;
      width: 100%;
      border-radius: 6px;
      text-align: center;
      position: relative;
      .banner-title-con {
        position: absolute;
        bottom: 50px;
        // bottom: 270px;
        left: 10px;
        right: 10px;
        // padding: 10px 0;
        height: 45px;
        line-height: 45px;
        background-color: rgba(0, 0, 0, 0.5);
  

        .banner-title {
          color: #fff;
          font-size: $sm-mini-fontsize;
          @include text2line(1);
          width: 80%;
          float: left;
        }
        .banner-logo {
          width: 20%;
          height: 100%;
          float: left;
        }
      }
    }
  }
}

// .list-wrap {
//   @include con;
//   @include base-con;
// }
.tagbar-wrap {
  @include con;
  @include base-con;
  .tagbar-grid {
    padding: 20px 0;
    .at-col-2 {
      height: 100%;
    }
    .tagbar-tag-name {
      font-size: $sm-mini-fontsize;
    }
  }
}

.hotClass-wrap {
  @include con;
  @include base-con;
  padding-bottom: 0;
  .hotClass-grid {
    padding: 20px 0;
    .hotClass-item {
      padding-bottom: 20px;
      text-align: center;
    }
    .hotClass-tag-name {
      font-size: $sm-mini-fontsize;
      color: $primary-color;
    }
  }
}

.recommendClass-wrap {
  @include con;
  @include base-con;
  .recommendClass-list-item {
    padding: 10px 0;
    border-bottom: 0.5px solid $bg-grey-color;
    position: relative;
    .recommendClass-desc-con {
      position: absolute;
      bottom: 10px;
    }
  }
}
