@import '~taro-ui/dist/style/components/flex.scss';
@import "~taro-ui/dist/style/components/tag.scss";

@import '../../static/style/common';

@mixin base-con {
    background-color: #fff;
    margin-bottom: 10px;
  }

.onlineStudy-wrap{
    background-color: $bg-grey-color;
    padding-bottom: 150rpx;
    .hotClass-image-wrap{
      position: relative;
      overflow: hidden;
      height: 300px;
      width: 300px;
      margin:0 auto;
    }
    .hotClass-image-tag{
      position: absolute;
      bottom: 0;
      left: 0;
    }
}

.hotClass-wrap {
    @include con;
    @include base-con;
    padding-bottom: 0px;
    .hotClass-grid {
      padding: 20px 0;
      .hotClass-item{
        padding-bottom: 20px;
        text-align: center;
      }
      .hotClass-tag-name {
        font-size: $sm-mini-fontsize;
      }
    }
  
  }

  .audio-wrap{
    @include con;
    @include base-con;
    .audio-grid {
      padding: 20px 0;
      .audio-item{
        overflow:hidden;
        padding:0 10px 40px;
        text-align: center;
      }
      .audio-tag-name {
        @include text2line(2);
        font-size: $sm-fontsize;
      }
    }

  }