@import '~taro-ui/dist/style/components/flex.scss';
@import '../../static/style/common.scss';
.myCollect-wrap{
    // @include con;
    // background-color: $bg-grey-color;
    // @include base-con;
}

.recommendClass-wrap {
    @include con;
    @include base-con;
    .recommendClass-list-item {
      padding: 10px 0;
      border-bottom: 0.5px solid $bg-grey-color;
      position: relative;
      .recommendClass-desc-con {
        position: absolute;
        bottom: 10px;
      }
    }
  }
  
  .classInfo-wrap{
    @include con;
    @include base-con;
    .class-item{
     padding: 30px 0;
      .class-item-desc{
        font-size: $mini-fontsize;
        @include text2line(1);
        line-height: 49px;
      }
    }
    .classInfo-class-name{
      font-size: $normal-fontsize;
      text-align: center;

    }
    .classInfo-class-desc{
      font-size: $mini-fontsize;
    }
   
}